{% extends 'base.html.twig' %}

{% block title %}Symfony CRUD
{% endblock %}

{% block body %}
	<h1>Symfony CRUD App</h1>
	<h4>Filip Vasiljević</h4>
	<br><br>
	<a href={{ createNew }}>Create</a>
	<a href={{ showAll }}>Show</a>
{% endblock %}
